body{
    text-align: center;
    background-image: url('hacker.jpg');
    background-attachment: fixed;
    font-family: monospace;


}
a:link
{
    background-color: red;
}
a:hover{
	color:red;
	background-color:aqua;
	text-decoration:none;
}
a:active{
	color:yellow;
	background-color:transparent;
	text-decoration:overline;
}

h1 {
        color:aquamarine;
}
p {
    font-size: 20px;
    color:white;
}

.adjustButton {
    padding : 35px;
    color: white;
    background-color: black;
    font-family: cursive;
}

#resetButton {
    padding : 25px;
    color : green;
    background-color:black
}

#counter {
    font-size: 50px;;
}